@import '~bootstrap/scss/bootstrap';

.square {
background: #ff0000;
border: solid #000000 1px;
font-size: 5vw;
text-align: center;
color: black;
height: 100px;
width: 100px;
}

.display {
height: 250px;
font-size: 40px;
text-align: center;
width: 100%;
}
